---
import Layout from "../layouts/Layout.astro";

import historyImage from "../assets/history.webp";
import Header from "../components/Header.astro";
import UnderConstruction from "../components/icons/UnderConstruction.astro";
---

<Layout title="Vereinsgeschichte">
  <main>
    <Header title="Vereinsgeschichte" imageMetadata={historyImage} />
    <div class="mx-auto my-10 w-1/2">
      <h1 class="mb-10 text-2xl">Demnächst verfügbar.</h1>
      <UnderConstruction class="size-5" />
    </div>
  </main>
</Layout>
