---
import Layout from "../layouts/Layout.astro";

import historyImage from "../assets/history.webp";
import Header from "../components/Header.astro";
import UnderConstruction from "../components/icons/UnderConstruction.astro";
---

<Layout title="Vereinsgeschichte">
    <main>
        <Header title="Vereinsgeschichte" imageMetadata={historyImage} />
        <div class="my-10 w-1/2 mx-auto">
            <h1 class="text-2xl mb-10">Demnächst verfügbar.</h1>
            <UnderConstruction class="size-5" />
        </div>
    </main>
</Layout>
