---
import Hero from "../components/Hero.astro";
import News from "../components/News.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="DJK Sparta Noris Nürnberg">
	<main>
		<Hero />
		<News />
	</main>
</Layout>
