---
import Contact from "../components/Contact.astro";
import Departments from "../components/Departments.astro";
import Hero from "../components/Hero.astro";
import News from "../components/News.astro";
import Sponsors from "../components/Sponsors.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Sport, Freundschaft, Tradition in Nürnberg"
  description="DJK Sparta Noris Nürnberg: Dein Traditionsverein. Sport, Freundschaft & soziales Engagement. Fußball, Gesundheitssport, Indiaca, Tennis & Tischtennis."
>
  <main>
    <Hero />
    <div class="mt-5">
      <Departments />
    </div>
    <div>
      <News />
    </div>
    <div>
      <Sponsors />
    </div>
    <div>
      <Contact />
    </div>
  </main>
</Layout>
