---
import contactImage from "../assets/contact.webp";
import indiacaImage from "../assets/indiaca.webp";

import ContactCard from "../components/ContactCard.astro";
import GoogleMaps from "../components/GoogleMaps.astro";
import Header from "../components/Header.astro";
import SectionHeader from "../components/SectionHeader.astro";
import SmallHero from "../components/SmallHero.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Indiaca">
    <main>
        <Header title="Tennis" imageMetadata={indiacaImage} />
        <SmallHero
            text="Die Indiaca-Abteilung der DJK Sparta Noris Nürnberg begeistert mit Dynamik, Teamgeist und Spaß am Spiel. Ob Einsteiger oder erfahrener Spieler - bei uns findest du ein engagiertes Team, spannende Matches und eine Sportart, die alle Generationen verbindet!"
        />
        <div>
            <SectionHeader title="Kontakt" imageMetadata={contactImage} />

            <div class="flex flex-wrap justify-center gap-6 mb-10 mt-5">
                <ContactCard title="..." mobile="..." />
            </div>
        </div>

        <GoogleMaps
            latitude={49.416459843204485}
            longitude={11.068967769662304}
            zoom={15}
            title="DJK Sparta Noris Nürnberg e.V."
            hasInfoWindow={true}
            displayInfoWindowOnClick={false}
            infoWindowContent="DJK Sparta Noris Nürnberg e.V.<br/>Wacholderweg 60<br/>90441 Nürnberg"
        />
    </main>
</Layout>
