---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Impressum">
    <main>
        <div class="text-center my-5 flex items-center flex-col">
            <h1 class="mb-5 text-3xl font-semibold">Impressum</h1>
            <div
                class="text-justify mx-5 sm:mx-10 lg:mx-15 xl:w-4/5 2xl:w-9/12"
            >
                <p class="mb-4">
                    DJK Sparta Noris Nürnberg e.V.<br />
                    Wacholderweg 60<br />
                    90441 Nürnberg
                </p>

                <p class="mb-4">
                    Vereinsregister: VR 1023<br />
                    Registergericht: Amtsgericht Nürnberg<br />
                    Steuer-Nr.: 241/107/80113
                </p>

                <p class="mb-4">
                    <strong>Vertreten durch:</strong><br />
                    Dieter Wolfsberger (1. Vorstand)<br />
                    Thomas Uebler (2. Vorstand)
                </p>

                <h2 class="text-xl mt-4">Kontakt</h2>
                <p>
                    Telefon: +49 (0) 911 480 59 55<br />
                    E-Mail: info@djkspartanoris.org
                </p>

                <h2 class="text-xl mt-4">Redaktionell verantwortlich</h2>
                <p>Dieter Wolfsberger (1. Vorstand)</p>

                <h2 class="text-xl mt-4">
                    Verbraucherstreitbeilegung / Universalschlichtungsstelle
                </h2>
                <p>
                    Wir sind nicht bereit oder verpflichtet, an
                    Streitbeilegungsverfahren vor einer
                    Verbraucherschlichtungsstelle teilzunehmen.
                </p>
            </div>
        </div>
    </main>
</Layout>
