---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Impressum">
  <main>
    <div class="my-5 flex flex-col items-center text-center">
      <h1 class="mb-5 text-3xl font-semibold">Impressum</h1>
      <div class="mx-5 text-justify sm:mx-10 lg:mx-15 xl:w-4/5 2xl:w-9/12">
        <p class="mb-4">
          DJK Sparta Noris Nürnberg e.V.<br />
          Wacholderweg 60<br />
          90441 Nürnberg
        </p>

        <p class="mb-4">
          Vereinsregister: VR 1023<br />
          Registergericht: Amtsgericht Nürnberg<br />
          Steuer-Nr.: 241/107/80113
        </p>

        <p class="mb-4">
          <strong>Vertreten durch:</strong><br />
          Dieter Wolfsberger (1. Vorstand)<br />
          Thomas Uebler (2. Vorstand)
        </p>

        <h2 class="mt-4 text-xl">Kontakt</h2>
        <p>
          Telefon: +49 (0) 911 480 59 55<br />
          E-Mail: info(at)djkspartanoris.org
        </p>

        <h2 class="mt-4 text-xl">Redaktionell verantwortlich</h2>
        <p>Dieter Wolfsberger (1. Vorstand)</p>

        <h2 class="mt-4 text-xl">
          Verbraucherstreitbeilegung / Universalschlichtungsstelle
        </h2>
        <p>
          Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren
          vor einer Verbraucherschlichtungsstelle teilzunehmen.
        </p>
      </div>
    </div>
  </main>
</Layout>
