---
import Layout from "../layouts/Layout.astro";
import tennisImage from "../assets/tennis.webp";
import contactImage from "../assets/contact.webp";
import Header from "../components/Header.astro";
import ContactCard from "../components/ContactCard.astro";
import SectionHeader from "../components/SectionHeader.astro";
import GoogleMaps from "../components/GoogleMaps.astro";

import SmallHero from "../components/SmallHero.astro";
import TennisHeadOfDepartment from "../components/contact/TennisHeadOfDepartment.astro";
---

<Layout title="Tennis">
  <main>
    <Header title="Tennis" imageMetadata={tennisImage} />
    <div class="mt-5 mb-10 flex flex-wrap justify-center gap-6">
      <div
        class="card bg-spartaGray w-72 text-white shadow-md shadow-gray-400 sm:w-[28rem]"
      >
        <div class="card-body">
          <h2 class="card-title">Mannschaften</h2>
          <div>U30 Herren</div>
          <div>U40 Herren</div>
        </div>
      </div>
      <div
        class="card bg-spartaGray w-72 text-white shadow-md shadow-gray-400 sm:w-[28rem]"
      >
        <div class="card-body">
          <h2 class="card-title">Trainingszeiten</h2>
          <div>Dienstag von 16 bis 20 Uhr</div>
          <div>Donnerstag von 16 bis 20 Uhr</div>
        </div>
      </div>
    </div>
    <div>
      <SectionHeader title="Kontakt" imageMetadata={contactImage} />

      <div class="mt-5 mb-10 flex flex-wrap justify-center gap-6">
        <TennisHeadOfDepartment />
        <ContactCard title="Alexander Kolodziej" mobile="0176 402 064 56" />
        <ContactCard title="Wilhelm Hess" mobile="0172 864 953 1" />
        <ContactCard title="Egor Meisler" mobile="0176 476 970 35" />
        <ContactCard title="Edward Akinshyn" mobile="0157 817 789 87" />
      </div>
    </div>

    <GoogleMaps
      latitude={49.416459843204485}
      longitude={11.068967769662304}
      zoom={15}
      title="DJK Sparta Noris Nürnberg e.V."
      hasInfoWindow={true}
      displayInfoWindowOnClick={false}
      infoWindowContent="DJK Sparta Noris Nürnberg e.V.<br/>Wacholderweg 60<br/>90441 Nürnberg"
    />
  </main>
</Layout>
