---
import { getMatches } from "../../lib/tableTennis/matches";

let matches = await getMatches();
---

{
  matches.length != 0 && (
    <div class="card bg-spartaGray w-72 text-white shadow-md shadow-gray-400 sm:w-[38rem]">
      <div class="card-body">
        <h2 class="card-title">Termine</h2>
        <p>
          {matches.slice(0, 4).map((match) => (
            <p>
              {match.date} - {match.time} <br />
              {match.homeTeam} - {match.guestTeam}
            </p>
          ))}
        </p>
      </div>
    </div>
  )
}
