<div class="w-72 card bg-spartaGray text-white shadow-md shadow-gray-400">
    <div class="card-body">
        <h2 class="card-title">Trainingszeiten</h2>
        <div>Dienstags ab 19:30 Uhr</div>
        <div>Mittwochs ab 18 Uhr</div>
        <div>Freitags ab 18 Uhr</div>
        <h2 class="card-title mt-4">Trainingsort</h2>
        <div>
            Schulsporthalle Sperberschule<br />
            Sperberstr. 85 <br />
            Eingang Langobardenstr. <br />
            90461 Nürnberg
        </div>
    </div>
</div>
