---
import TeamCardLarge from "./TeamCardLarge.astro";

interface Team {
  name: string;
  league: string;
  place?: string;
  played?: number;
  w?: number;
  d?: number;
  l?: number;
  pts?: number | string;
  link?: string;
  linkLabel?: string;
}

interface Props {
  teams: Team[];
}

const { teams } = Astro.props;
---

<div class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3">
  {teams.map((team) => <TeamCardLarge {...team} />)}
</div>
