---
import TeamCardLarge from "./TeamCardLarge.astro";

interface Team {
  name: string;
  league: string;
  coach: string;
  place: string;
  played: number;
  w: number;
  d: number;
  l: number;
  pts: number;
  imageLabel?: string;
}

interface Props {
  teams: Team[];
}

const { teams } = Astro.props;
---

<div class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3">
  {
    teams.map((team, i) => (
      <TeamCardLarge
        index={i}
        variant={i === 0 ? "primary" : "default"}
        {...team}
      />
    ))
  }
</div>
