---
import contactImage from "../assets/contact.webp";

import SectionHeader from "./SectionHeader.astro";
import FirstBoardMember from "./contact/FirstBoardMember.astro";
import SecondBoardMember from "./contact/SecondBoardMember.astro";
import Treasurer from "./contact/Treasurer.astro";
---

<SectionHeader title="Kontakt" imageMetadata={contactImage} />

<div class="flex flex-wrap justify-center gap-6 mb-20 mt-5">
    <FirstBoardMember />
    <SecondBoardMember />
    <Treasurer />
</div>
