<footer class="footer bg-spartaGray text-white p-10">
    <aside>
        <img src="/sparta_wb.svg" alt="Logo" class="w-24 h-24 rounded-full" />
    </aside>
    <nav>
        <h6 class="footer-title">Verein</h6>
        <a class="link link-hover">Mitglied werden</a>
        <a class="link link-hover">Impressum</a>
        <a class="link link-hover">Datenschutz</a>
    </nav>
    <nav>
        <h6 class="footer-title">Abteilungen</h6>
        <a class="link link-hover">Fußball</a>
        <a class="link link-hover">Gesundheitssport</a>
        <a class="link link-hover">Indiaca</a>
        <a class="link link-hover">Tennis</a>
        <a href="/table-tennis" class="link link-hover">Tischtennis</a>
    </nav>
    <nav>
        <h6 class="footer-title">Geschäftsstelle</h6>
        <p>Wacholderweg 60</p>
        <p>90441 Nürnberg</p>
        <p>Freitag 8 – 12 Uhr</p>
    </nav>
    <nav>
        <h6 class="footer-title">Social</h6>
        <div class="grid grid-flow-col gap-4">
            <a href="https://www.facebook.com/djkspartanoris" target="_blank">
                <img src="/facebook.svg" alt="Logo" class="w-10 h-10" />
            </a>
            <a
                href="https://www.instagram.com/djk_sparta_noris_nbg"
                target="_blank"
            >
                <img src="/instagram.svg" alt="Logo" class="w-10 h-10" />
            </a>
        </div>
    </nav>
</footer>
