<footer class="footer bg-spartaGray text-white p-10">
    <aside>
        <img
            src="/sparta_wb.svg"
            alt="Sparta Logo"
            class="w-24 h-24 rounded-full"
        />
    </aside>
    <nav>
        <h6 class="footer-title">Verein</h6>
        <a href="/member" class="link link-hover">Mitglied werden</a>
        <a href="/legal-notice" class="link link-hover">Impressum</a>
        <a href="/data-privacy" class="link link-hover">Datenschutz</a>
    </nav>
    <nav>
        <h6 class="footer-title">Abteilungen</h6>
        <a href="/soccer-adults" class="link link-hover">Fußball - Herren</a>
        <a href="/soccer-juniors" class="link link-hover">Fußball - Junioren</a>
        <a href="/health-sport" class="link link-hover">Gesundheitssport</a>
        <a href="/indiaca" class="link link-hover">Indiaca</a>
        <a href="/tennis" class="link link-hover">Tennis</a>
        <a href="/table-tennis" class="link link-hover">Tischtennis</a>
    </nav>
    <nav>
        <h6 class="footer-title">Geschäftsstelle</h6>
        <p>Wacholderweg 60</p>
        <p>90441 Nürnberg</p>
        <p>Freitag 8 – 12 Uhr</p>
        <p>+49 (0) 911 480 59 55</p>
    </nav>
    <nav>
        <h6 class="footer-title">Social</h6>
        <div class="grid grid-flow-col gap-4">
            <a href="https://www.facebook.com/djkspartanoris" target="_blank">
                <img
                    src="/facebook.svg"
                    alt="Facebook Logo"
                    class="w-10 h-10"
                />
            </a>
            <a
                href="https://www.instagram.com/djk_sparta_noris_nbg"
                target="_blank"
            >
                <img
                    src="/instagram.svg"
                    alt="Instagram Logo"
                    class="w-10 h-10"
                />
            </a>
        </div>
    </nav>
</footer>
