---
import { Picture } from "astro:assets";

import spartanerImage from "../assets/spartaner.webp";
import letteringImage from "../assets/lettering.webp";

interface Props {
    title: string;
    imageSrc: string;
}

const { title, imageSrc } = Astro.props;
---

<div
    class="relative w-full sm:h-64 h-36 bg-cover bg-center flex items-center justify-center"
    style={`background-image: url(${imageSrc});`}
>
    <div class="absolute inset-0 bg-black opacity-40"></div>
    <Picture
        src={spartanerImage}
        formats={["webp"]}
        alt="TODO"
        pictureAttributes={{
            class: "relative md:w-32 w-20 mr-5 lg:mx-auto hidden sm:block",
        }}
        widths={[200]}
        sizes={`200px`}
    />
    <h1 class="relative text-white md:text-7xl sm:text-6xl text-4xl font-bold">
        {title}
    </h1>
    <Picture
        src={letteringImage}
        formats={["webp"]}
        alt="TODO"
        pictureAttributes={{
            class: "relative w-44 mx-auto hidden lg:block",
        }}
        widths={[200]}
        sizes={`200px`}
    />
</div>
