---
import { Picture } from "astro:assets";

import spartanerImage from "../assets/spartaner.webp";
import letteringImage from "../assets/lettering.webp";

import { logoLettering, spartaner } from "../lib/alternative-texts";
---

<div class="hero">
    <div class="hero-content flex-col lg:flex-row-reverse">
        <div
            class="bg-spartaGray container max-w-sm rounded-lg shadow-lg shadow-black"
        >
            <div class="mx-auto w-32 bg-spartaGray mt-4 mb-4">
                <Picture
                    src={spartanerImage}
                    formats={["webp"]}
                    alt={spartaner}
                    widths={[200]}
                    sizes={`200px`}
                />
            </div>

            <div class="w-64 mx-auto mb-4 bg-spartaGray">
                <Picture
                    src={letteringImage}
                    formats={["webp"]}
                    alt={logoLettering}
                    widths={[300]}
                    sizes={`300px`}
                />
            </div>
        </div>

        <div>
            <h1 class="text-5xl font-bold mt-6">
                Willkommen bei<br />DJK Sparta Noris Nürnberg
            </h1>
            <p class="py-6">
                Dein Traditionsverein im Nürnberger Süden. Wir verbinden
                Freundschaft, Familie, Tradition und soziales Engagement mit dem
                Sport.
            </p>
        </div>
    </div>
</div>
