<div class="navbar bg-spartaGray sticky top-0 z-50 shadow-sm shadow-black">
    <div class="navbar-start">
        <div class="dropdown">
            <div tabindex="0" role="button" class="btn btn-ghost md:hidden">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-5 w-5"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="#fff"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M4 6h16M4 12h8m-8 6h16"></path>
                </svg>
            </div>
            <ul
                tabindex="0"
                class="menu menu-sm dropdown-content rounded-box z-[1] mt-3 w-52 p-2 shadow bg-spartaGray text-white"
            >
                <li>
                    <a href="/" class="hover:text-spartaRed activeSpartaRed"
                        >Home</a
                    >
                </li>
                <li>
                    <a class="hover:text-spartaRed customInactive">Verein</a>
                    <ul class="p-2">
                        <li>
                            <a
                                href="/contact"
                                class="hover:text-spartaRed activeSpartaRed"
                                >Ansprechpartner</a
                            >
                        </li>
                        <li>
                            <a
                                href="/history"
                                class="hover:text-spartaRed activeSpartaRed"
                                >Vereinsgeschichte</a
                            >
                        </li>
                        <li>
                            <a
                                href="/restaurant"
                                class="hover:text-spartaRed activeSpartaRed"
                                >Sportgaststätte</a
                            >
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="hover:text-spartaRed customInactive"
                        >Abteilungen</a
                    >
                    <ul class="p-2">
                        <li>
                            <a
                                href="/soccer-adults"
                                class="hover:text-spartaRed activeSpartaRed"
                                >Fußball - Herren</a
                            >
                        </li>
                        <li>
                            <a
                                href="/soccer-juniors"
                                class="hover:text-spartaRed activeSpartaRed"
                                >Fußball - Junioren</a
                            >
                        </li>
                        <li>
                            <a
                                href="/health-sport"
                                class="hover:text-spartaRed activeSpartaRed"
                                >Gesundheitssport</a
                            >
                        </li>

                        <li>
                            <a
                                href="/indiaca"
                                class="hover:text-spartaRed activeSpartaRed"
                                >Indiaca</a
                            >
                        </li>
                        <li>
                            <a
                                href="/tennis"
                                class="hover:text-spartaRed activeSpartaRed"
                                >Tennis</a
                            >
                        </li>
                        <li>
                            <a
                                href="/table-tennis"
                                class="hover:text-spartaRed activeSpartaRed"
                                >Tischtennis</a
                            >
                        </li>
                    </ul>
                </li>
                <li>
                    <a
                        href="/member"
                        class="hover:text-spartaRed activeSpartaRed"
                        >Mitglied werden</a
                    >
                </li>
            </ul>
        </div>
    </div>
    <div class="navbar-center hidden md:flex">
        <img
            src="/sparta_rw.svg"
            alt="Sparta Logo"
            class="w-16 h-16 rounded-full border-2 border-spartaRed mr-5"
        />

        <ul class="menu menu-horizontal px-1 text-white">
            <li>
                <a href="/" class="hover:text-spartaRed activeSpartaRed">Home</a
                >
            </li>

            <li class="dropdown dropdown-hover">
                <div
                    class="hover:text-spartaRed customInactive"
                    role="button"
                    tabindex="0"
                >
                    <div class="main-menu">Verein</div>
                </div>
                <ul
                    tabindex="0"
                    class="dropdown-content menu rounded-box z-[51] p-2 shadow bg-spartaGray"
                >
                    <li>
                        <a
                            href="/contact"
                            class="hover:text-spartaRed activeSpartaRed"
                            >Ansprechpartner</a
                        >
                    </li>
                    <li>
                        <a
                            href="/history"
                            class="hover:text-spartaRed activeSpartaRed"
                            >Vereinsgeschichte</a
                        >
                    </li>
                    <li>
                        <a
                            href="/restaurant"
                            class="hover:text-spartaRed activeSpartaRed"
                            >Sportgaststätte</a
                        >
                    </li>
                </ul>
            </li>

            <li class="dropdown dropdown-hover">
                <div
                    class="hover:text-spartaRed customInactive"
                    role="button"
                    tabindex="0"
                >
                    <div class="main-menu">Abteilungen</div>
                </div>
                <ul
                    tabindex="0"
                    class="dropdown-content menu rounded-box z-[51] p-2 shadow bg-spartaGray w-44"
                >
                    <li>
                        <a
                            href="/soccer-adults"
                            class="hover:text-spartaRed activeSpartaRed"
                            >Fußball - Herren</a
                        >
                    </li>
                    <li>
                        <a
                            href="/soccer-juniors"
                            class="hover:text-spartaRed activeSpartaRed"
                            >Fußball - Junioren</a
                        >
                    </li>
                    <li>
                        <a
                            href="/health-sport"
                            class="hover:text-spartaRed activeSpartaRed"
                            >Gesundheitssport</a
                        >
                    </li>

                    <li>
                        <a
                            href="/indiaca"
                            class="hover:text-spartaRed activeSpartaRed"
                            >Indiaca</a
                        >
                    </li>
                    <li>
                        <a
                            href="/tennis"
                            class="hover:text-spartaRed activeSpartaRed"
                            >Tennis</a
                        >
                    </li>
                    <li>
                        <a
                            href="/table-tennis"
                            class="hover:text-spartaRed activeSpartaRed"
                            >Tischtennis</a
                        >
                    </li>
                </ul>
            </li>

            <li>
                <a href="/member" class="hover:text-spartaRed activeSpartaRed"
                    >Mitglied werden</a
                >
            </li>
        </ul>
    </div>
    <div class="navbar-end">
        <img
            src="/sparta_rw.svg"
            alt="Sparta Logo"
            class="w-14 h-14 rounded-full border-2 border-spartaRed md:hidden"
        />
    </div>
</div>

<style>
    .activeSpartaRed:active {
        /*@apply text-spartaRed !important;*/
    }

    .customInactive:active {
        /*@apply bg-spartaGray text-spartaRed !important;*/
    }

    .dropdown > div::after {
        display: block;
        margin-top: -0.5rem;
        height: 0.5rem;
        width: 0.5rem;
        transform: rotate(45deg);
        transition-property: transform, margin-top;
        transition-duration: 0.3s;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        content: "";
        transform-origin: 75% 75%;
        box-shadow: 2px 2px;
        pointer-events: none;
    }

    .dropdown:hover > div::after {
        transform: rotate(225deg);
        margin-top: 0;
    }
</style>
