<div class="navbar bg-spartaGray sticky top-0 z-50 shadow-sm shadow-black">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost md:hidden">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="#fff"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h8m-8 6h16"></path>
        </svg>
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content rounded-box bg-spartaGray z-1 mt-3 w-52 p-2 text-white shadow"
      >
        <li>
          <a href="/" class="">Home</a>
        </li>
        <li>
          <div class="parent">Verein</div>
          <ul class="p-2">
            <li>
              <a href="/contact" class="">Ansprechpartner</a>
            </li>
            <li>
              <a href="/history" class="">Vereinsgeschichte</a>
            </li>
            <li>
              <a href="/restaurant" class="">Sportgaststätte</a>
            </li>
          </ul>
        </li>
        <li>
          <div class="parent">Abteilungen</div>
          <ul class="p-2">
            <li>
              <a href="/soccer-adults" class="">Fußball - Herren</a>
            </li>
            <li>
              <a href="/soccer-juniors" class="">Fußball - Junioren</a>
            </li>
            <li>
              <a href="/health-sport" class="">Gesundheitssport</a>
            </li>

            <li>
              <a href="/indiaca" class="">Indiaca</a>
            </li>
            <li>
              <a href="/tennis" class="">Tennis</a>
            </li>
            <li>
              <a href="/table-tennis" class="">Tischtennis</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="/member" class="">Mitglied werden</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="navbar-center hidden md:flex">
    <img
      src="/sparta_rw.svg"
      alt="Sparta Logo"
      class="border-spartaRed mr-5 h-16 w-16 rounded-full border-2"
    />

    <ul class="menu menu-horizontal text-white">
      <li>
        <a href="/" class="">Home</a>
      </li>

      <li class="dropdown dropdown-hover">
        <div class="parent" role="button" tabindex="0">Verein</div>
        <ul
          tabindex="0"
          class="dropdown-content menu rounded-box bg-spartaGray z-[51] p-2 shadow"
        >
          <li>
            <a href="/contact" class="">Ansprechpartner</a>
          </li>
          <li>
            <a href="/history" class="">Vereinsgeschichte</a>
          </li>
          <li>
            <a href="/restaurant" class="">Sportgaststätte</a>
          </li>
        </ul>
      </li>

      <li class="dropdown dropdown-hover">
        <div class="parent" role="button" tabindex="0">Abteilungen</div>
        <ul
          tabindex="0"
          class="dropdown-content menu rounded-box bg-spartaGray z-[51] w-44 p-2 shadow"
        >
          <li>
            <a href="/soccer-adults" class="">Fußball - Herren</a>
          </li>
          <li>
            <a href="/soccer-juniors" class="">Fußball - Junioren</a>
          </li>
          <li>
            <a href="/health-sport" class="aciveSpartaRed">Gesundheitssport</a>
          </li>

          <li>
            <a href="/indiaca" class="">Indiaca</a>
          </li>
          <li>
            <a href="/tennis" class="">Tennis</a>
          </li>
          <li>
            <a href="/table-tennis" class="">Tischtennis</a>
          </li>
        </ul>
      </li>

      <li>
        <a href="/member" class="">Mitglied werden</a>
      </li>
    </ul>
  </div>
  <div class="navbar-end">
    <img
      src="/sparta_rw.svg"
      alt="Sparta Logo"
      class="border-spartaRed h-14 w-14 rounded-full border-2 md:hidden"
    />
  </div>
</div>

<style>
  @reference "../styles/global.css";

  ul a:active {
    @apply text-spartaRed;
  }
  ul a:hover {
    @apply text-spartaRed;
  }
  .parent:active {
    @apply bg-spartaGray;
  }
  .parent:focus {
    @apply bg-spartaGray text-spartaRed!;
  }
  .parent:hover {
    @apply text-spartaRed!;
  }
  .dropdown-content {
    @apply m-0;
  }

  .dropdown-hover > div::after {
    display: block;
    margin-top: -0.5rem;
    height: 0.5rem;
    width: 0.5rem;
    transform: rotate(45deg);
    transition-property: transform, margin-top;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    content: "";
    transform-origin: 75% 75%;
    box-shadow: 2px 2px;
    pointer-events: none;
  }

  .dropdown-hover:hover > div::after {
    transform: rotate(225deg);
    margin-top: 0;
  }
</style>
