---
import { getImage } from "astro:assets";
import racketImage from "../assets/typewriter.webp";

import NewsCard from "./NewsCard.astro";
import { latestNews } from "../lib/news";
import { createSlug } from "../lib/convenience";
import SectionHeader from "./SectionHeader.astro";

const optimizedBackground = await getImage({
    src: racketImage,
});
---

<SectionHeader title="News" imageSrc={optimizedBackground.src} />

<div class="flex flex-wrap justify-center gap-6 mb-20 mt-5">
    {
        latestNews.map((news) => (
            <NewsCard
                body={news.content?.split(" ").slice(0, 15).join(" ") + " ..."}
                title={news.title}
                link={"/news/" + createSlug(news.title!)}
            />
        ))
    }
</div>
