---
import NewsCard from "./NewsCard.astro";
import { latestNews } from "../lib/news";
---

<div class="divider divider-error text-spartaRed text-6xl mt-10 mb-10">
    News
</div>

<div class="flex flex-wrap justify-center gap-6 mb-20">
    {
        latestNews.map((news) => (
            <NewsCard
                body={news.content?.split(" ").slice(0, 15).join(" ") + " ..."}
                title={news.title}
            />
        ))
    }
</div>
