---
import sponsorImage from "../assets/sponsors.webp";
import taxAndFriendsImage from "../assets/sponsors/TaxandFriends.svg";
import SectionHeader from "./SectionHeader.astro";
import SponsorCard from "./SponsorCard.astro";

export enum SponsorsCategory {
    all,
    tableTennis,
    soccer,
}

function isTableTennis(): boolean {
    return (
        category == SponsorsCategory.tableTennis ||
        category == SponsorsCategory.all
    );
}

const { category = SponsorsCategory.all } = Astro.props;
---

<div>
    <SectionHeader title="Partner" imageMetadata={sponsorImage} />

    <div class="flex flex-wrap justify-center gap-6 mb-10 mt-5">
        {
            isTableTennis() && (
                <SponsorCard
                    name="Steuerkanzlei Tax&Friends"
                    link="https://steuerkanzlei-taxandfriends.de"
                    image={taxAndFriendsImage.src}
                    imageAlt="Logo von Tax and Friends in bunten Farben."
                />
                <SponsorCard
                    name="Dr. Neubauer"
                    link="https://www.drneubauer.com"
                    image="https://cdn.pixabay.com/photo/2019/03/10/14/04/table-tennis-4046277_1280.jpg"
                    imageAlt="tbd"
                />
            )
        }
    </div>
</div>
